.privacy-list {
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  align-items: start;
  list-style-type: disc; /* Add bullet points back if they were reset */
  margin-top: 0; /* You might want to reset margins if they were affected by the reset CSS */
  margin-bottom: 1em; /* Add bottom margin for spacing */
}

.privacy-list li {
  margin-bottom: 0.5em; /* Add some space between list items */
}
