
ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #333;
  margin-bottom: 15px;
}

ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

ul li:last-child {
  margin-bottom: 0;
}
