.apartment3 {
    padding: 20px;
}

.apartment3__container {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.apartment3__textWrapper {
    margin-bottom: 20px;
}

.apartment3__header {
    font-size: 24px;
    margin-bottom: 10px;
}

.apartment3__button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D4AD6A;
    color: white;
    border: none;
    cursor: pointer;
}

.apartment3__imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.apartment3__image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}
