.apartment3 {
    padding: 20px;
}

.apartment3__container {
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.apartment3__textWrapper {
    margin-bottom: 20px;
}


.apartment3__header {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
}

.apartment3__text {
    font-size: 16px;
    font-weight: 400;
    color: rgb(53, 67, 93);
    line-height: 1.4;
    margin-bottom: 30px;
}

.apartment3__list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}

.apartment3__list li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
}

.apartment3__list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #D4AD6A;
    font-size: 20px;
    line-height: 1.4;
}

.apartment3__desc {
    font-size: 16px;
    font-weight: 400;
    color: rgb(53, 67, 93);
    line-height: 1.4;
    margin-bottom: 30px;
}

.apartment3__button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D4AD6A;
    color: white;
    border: none;
    cursor: pointer;
}

.apartment3__imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.apartment3__image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.footer__social-apart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__social-icons-wrapper-apartment {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.footer__apartmentcopy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.footer__icon-apartment {
    height: 60px;
}


.footer__policy-page-link{
    color: rgb(53, 67, 93);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.footer__apartmentpolicy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__group {
    font-weight: 600;
}

.footer__policy-address{
    color: rgb(53, 67, 93);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}


@media (max-width: 768px) {
    .apartment3__container{
        flex-direction: column;
        gap: 20px;
    }

}

@media (max-width: 480px) {
    .apartment3__imageGrid {
        display: flex;
        flex-direction: column;
    }
    .apartment3__image {
        width: 100%;
        height: 400px;
    }
    .footer__social-apart{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .apartment3__footer-social-icon{
        width: 30px;
    }
}
