
.apartment3__header {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.apartment3__text-wrapper {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

.apartment3__button {
    padding: 10px 20px;
    background-color: #D4AD6A;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apartment3__button:hover {
    background-color: #b38955;
}




.apartment3_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.apartment3_imageTile {
    width: calc(33.333% - 10px);
    cursor: pointer;
}

.apartment3_imageTile img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carouselModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carouselCloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1001;
}
