@import "reset.css";

.container {
   width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 820px) {
    .container {
        width: 780px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 700px;
    }
}


@media (max-width: 480px) {
    .container {
        width: 380px;
        margin: 0 auto;
    }
}

@media (max-width: 390px) {
    .container {
        width: 340px;
        margin: 0 auto;
    }
}
