.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carouselContainer {
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow: hidden;
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    top: 0;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    z-index: 1002;
}

.glide {
    width: 100%;
    height: 100%;
}

.glide__slides {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 40px);
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.imageContainer img {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.legendContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.legend {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.glide__arrow {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.glide__arrow--left {
    left: 100px;
}

.glide__arrow--right {
    right: 10px;
}

.glide__bullet {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.glide__bullet:hover,
.glide__bullet:focus {
    background: #fff;
}
