.header {
    padding: 40px 0;
}

.header__top-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.header__logo {
    max-width: 375px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__link {
    color: rgb(53, 67, 93);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    transition: all 0.5s ease;
    cursor: pointer;
}

.header__link:hover {
    color: #D4AD6A;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
}

.bar {
    height: 2px;
    width: 20px;
    background-color: #333;
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropdown li {
    padding: 5px 10px;
    width: 200px;
    list-style: none;
}

.dropdown li a {
    color: rgb(53, 67, 93);
    text-decoration: none;
    font-size: 16px;
}

.dropdown li a:hover {
    color: #D4AD6A;
}

.dropdown.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .header__logo img {
        width: 200px;
        height: auto;
    }

    .header__logo-container {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-bottom: 10px;
    }

    .burger-menu {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav.open {
        display: flex;
    }

    .header__list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .header__list.open {
        display: flex;
    }

    .header__item {
        width: 100%;
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
    }

    .header__link {
        width: 100%;
        text-align: left;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        z-index: 1000;
        padding: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .dropdown li {
        padding: 10px 20px;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .dropdown li a {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .header__logo-container {
        display: flex;
        gap: 5px;
    }
    .header__logo img {
        width: 200px;
    }

    .header__language-selector {
        width: auto;
    }
}
