.footer {
    padding: 40px 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
}

.footer__social-icons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 420px;
    width: 100%;
    padding: 20px 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.footer__policy-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__icon {
    height: 30px;
}

.footer__policy-page-link {
    color: #000;
    text-decoration: none;
    transition: all 0.5s ease;
}

.footer__policy-page-link:hover {
    color: #D4AD6A;
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .footer__social {
        gap: 600px;
    }

    .footer__policy {
        gap: 200px;
    }

    .footer__copy {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .footer__social {
        gap: 400px;
    }

    .footer__copy {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 820px) {
    .footer__social {
        gap: 300px;
    }
}

@media screen and (max-width: 480px) {
    .footer__social {
        gap: 50px;
    }

    .footer__copy {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer__policy {
        gap: 20px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        box-shadow: none;
    }

    .footer__policy-page-link{
        order: -1;
    }
}
