.seeNearby__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.seeNearby__text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.seeNearby__points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.seeNearby__point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.seeNearby__pointText {
    width: 400px;
}

.seeNearby__pointImage {
    width: 600px;
}

.seeNearby__pointDescription {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color: #4f4f4f;
}
